html {
    scroll-behavior: auto;
}

body {
    background: #12100c;
    overflow-y: hidden;

}

.parentc {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.home {
    height: 100vh;
    width: auto;
    background: #12100c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    scroll-snap-align: start;

}

.container1 {
    height: 500px;
    width: auto;
    background: #12100c;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
    animation: mymove 3s infinite linear;
}

@keyframes mymove {
    10% {
        border-bottom-color: rgb(240, 175, 12);
    }

    30% {
        border-left-color: rgb(12, 240, 156);
    }

    60% {
        border-top-color: rgb(12, 183, 240);
    }

    90% {
        border-right-color: rgb(168, 12, 240);
    }
}

.container2 {
    height: 200px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    height: 250px;
    width: auto;
    background: white;
    border: 10px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    height: 240px;
    width: auto;
    border-radius: 180px;
}

h1 {
    font-size: 3rem;
    padding-right: 100px;
    padding-left: 30px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 10px;
    letter-spacing: 2px;
}

.animated {
    margin-left: 100px;
    color: black;
    height: 30px;
    overflow: hidden;
}

.first {
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 45px;
    color: #e9d722;
    letter-spacing: 1px;
}

.second {
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 45px;
    color: #28ceff;
    letter-spacing: 1px;
}

.first:first-child {
    animation: anim 4s infinite ease-in;
}

@keyframes anim {
    0% {
        margin-top: -5px;
    }

    60% {
        margin-top: -60px;
    }

    100% {
        margin-top: -5px;
    }
}

.social {
    height: auto;
    width: auto;
    margin-top: -60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.devicon-github-original {
    font-size: 30px;
    color: #ffff;
    margin-left: 20px;
}

.devicon-linkedin-plain {
    font-size: 30px;
    color: rgb(12, 183, 240);
    margin-left: 20px;
}

#twitter {
    font-size: 30px;
    color: #28ceff;
    margin-left: 20px;
}

#hashnode {
    font-size: 30px;
    color: #2563eb;
    margin-left: 20px;
}

.gmail {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.discord {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.leetcode {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.social a {
    color: #12100c;
}


h2 {
    color: #28ceff;
}

.navbar {
    height: auto;
    width: 600px;
    margin-top: 230px;
    margin-left: -275px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
}

.navbar li {
    float: left;
    font-size: 16px;
    list-style: none;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;

}

.navbar li:hover {
    color: aquamarine;
}

.nav {
    height: 650px;
    width: 100px;
    margin-top: 50px;
    position: fixed;
    padding-left: -20px;
    scroll-snap-align: start;
}

.about {
    height: 100vh;
    width: auto;
    /* background: #e9d722; */
    scroll-snap-align: start;
}

.abtdetl {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 100px;
}

.abtimg,
.abtdesc {
    height: 400px;
    width: 650px;
    /* background: #2b2f35; */
    margin-left: 30px;
}

.abtimg img {
    margin-top: 50px;
    margin-left: 100px;
    height: 300px;
    width: 550px;
}

.abtdesc p {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 3px;
    margin-top: 30px;
}
.contact{
    font-family: sans-serif;
    margin-left: 150px;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #9d39f5;
    border-color: #9d39f5;
    border: 2px solid;
    /* background: #2563eb; */
    border-radius: 10px;
    padding: 5px;
}
.resume{
    font-family: sans-serif;
    text-decoration: none;
    /* letter-spacing: 1px; */
    color: #9d39f5;
    border-color: #9d39f5;
    border: 2px solid;
    /* background: #2563eb; */
    border-radius: 10px;
    padding: 5px;
}
.abtdesc a:hover {
    color:#fff;
    background: #9d39f5;
    border-color: #9d39f5;
}

.skills {
    height: 100vh;
    width: auto;
    /* background: #e99622; */
    scroll-snap-align: start;
}

.title {
    height: auto;
    width: auto;
    text-align: center;
    padding: 20px;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    */
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.title h2 {
    color: aquamarine;
}

.techtitle {
    height: auto;
    width: auto;
    /* background: #28ceff; */
    margin-left: 150px;
    margin-top: 100px;
}

.techtitle h3 {
    color: #fff;
    font-family: sans-serif;
    word-spacing: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.techstack {
    height: auto;
    width: auto;
    /* background: #7222e9; */
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}

.lang {
    height: 80px;
    width: 80px;
    background: #2b2f35;
    margin-left: 10px;
    border-radius: 10px;

}

.lang img {
    height: 60px;
    width: 80px;
    padding-left: 2px;
    padding-top: 10px;
    padding-right: 7px;
}

.lang img #js {
    margin-left: -10px;
}

#title2 {
    margin-top: 40px;
}

.lang i {
    color: #fff;
    font-size: 60px;
    padding-left: 10px;
    padding-top: 10px;

}

#techstack3 {
    margin-top: 20px;
}

.skills1 {
    display: flex;
    flex-direction: row;
}

.skills2 {
    height: auto;
    width: auto;
    /* background: #28ceff; */
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

.skills20 {
    height: 100px;
    width: 350px;
    background: #2b2f35;
    margin: 20px;
    padding-left: 15px;
    border-radius: 10px;
}

.skills20 h3 {
    color: #fff;
    font-family: sans-serif;
    word-spacing: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.skills20 .explore {
    font-family: sans-serif;
    color: #28ceff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

.work {
    height: 100vh;
    width: auto;
    /* background: #7222e9; */
    scroll-snap-align: start;
}

.work0 {
    height: auto;
    width: auto;
    padding: 10px;
    padding-left: 130px;
    display: flex;
    flex-direction: row;
}

.workd {
    height: auto;
    width: 600px;
    background: #2b2f35;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
    padding-right: 10px;
}

.workd:hover {
    margin-top: -5px;
}

.workdetails {
    display: flex;
    flex-direction: row;
}

.workimg {
    height: 100px;
    width: 100px;
    /* background: #2563eb; */
    padding-left: 10px;
    padding-top: 10px;
    /* margin-right: 10px; */
}

.workimg img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.workdesc h4 {
    /* font-size: 15px; */
    line-height: normal;
    vertical-align: baseline;
    letter-spacing: normal;
    font-family: sans-serif;
    color: #b0bccc;
    /* padding-left: 20px; */
}

.workdesc p {
    /* color: #b0bccc; */
    color: #e9d722;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: -15px;
    /* padding-left: 20px; */
}

.jdul {
    margin-left: 10px;
}

.jd li {
    /* font-size: 13px; */
    font-family: sans-serif;
    color: #b0bccc;
    line-height: 25px;
    word-spacing: 2px;
    font-weight: lighter;
    padding: 10px;
}

.project {
    height: 100vh;
    width: auto;
    /* background: #e92299; */
    scroll-snap-align: start;
}

.projectline {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}

.projectd {
    height: 100px;
    width: 400px;
    background: #2b2f35;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
}

.projectimg {
    height: 100px;
    width: 150px;
    /* background: #2563eb; */
    padding-left: 10px;
    padding-top: 10px;
    /* margin-right: 10px; */
}

.projectimg img {
    height: 80px;
    width: 120px;
    border-radius: 10px;
}

.projectdesc h4 {
    font-size: 15px;
    line-height: normal;
    vertical-align: baseline;
    letter-spacing: normal;
    font-family: sans-serif;
    color: #b0bccc;
    /* padding-left: 20px; */
}

.projectdesc button {
    font-size: 15px;
    width: 70px;
    font-family: sans-serif;
    color: #fff;
    background: #2b2f35;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border-color: #28ceff;
}

.projectdesc button:hover {
    background: #4aa7ee;
}

.projectlineApp {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}

.coming {
    height: 100px;
    width: 400px;
    background: #2b2f35;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming h4 {
    font-size: 15px;
    line-height: normal;
    vertical-align: baseline;
    letter-spacing: normal;
    font-family: sans-serif;
    color: #e9d722;
}

.extra {
    height: 100vh;
    width: auto;
    /* background: #e2dfc0; */
    scroll-snap-align: start;
}

.extrac {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.extraw {
    height: 100px;
    width: 500px;
    background: #2b2f35;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.extraimg {
    height: 100px;
    width: 100px;
    /* background: #2563eb; */
    padding-left: 10px;
    padding-top: 10px;
    /* margin-right: 10px; */
}

.extraimg img {
    height: 80px;
    width: 130px;
    border-radius: 10px;
}

.extraw p {
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    margin-left: 70px;
    margin-top: 30px;
}

.extraw a {
    font-size: 15px;
    font-family: sans-serif;
    color: #28ceff;
    margin-left: 70px;
    margin-top: 30px;
    text-decoration: none;

}
.active{
    color: #28ceff;
    background-color: #9d39f5;
}